.SideBar
  .UserBox
    .UserBox__list
      %h3.UserBox__name
        = current_user. name
      %ul.UserBox__iconList
        = link_to new_group_path(current_user),class:"icon_1"do
          = icon('fa','edit')
        = link_to edit_user_path(current_user),class:"icon_2"do
          = icon('fa','cog')
  .GroupList
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            メッセージはまだありません
